@use "../util" as *;

.header {
  margin-top: rem(36);
  margin-bottom: rem(46);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: rem(24);

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color2);
  }

  &__toggle {
  }
}
