@use "../util" as *;

.toggle {
  border: none;
  display: flex;
  align-items: center;
  gap: rem(12);

  @include breakpoint-down(small) {
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--dark-text1);
    padding-top: rem(15);
  }

  label {
    color: var(--toggle-text);
    font-size: rem(14);
    font-weight: 700;
  }

  &__wrapper {
    height: rem(24);
    position: relative;
  }

  input[type="radio"] {
    opacity: 0;
    width: rem(20);
    height: rem(18);

    &:first-child {
      margin-right: 5px;
    }
  }

  &__background {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: rem(12);
    background: linear-gradient(225deg, var(--toggle-start), var(--toggle-end));
    position: absolute;
    top: 0;
    pointer-events: none;
  }

  &__button {
    position: absolute;
    top: rem(3);
    left: rem(3);
    right: 100%;
    display: block;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--toggle-btn);
    transition: all 0.15s ease-in-out;
  }

  #light:checked ~ .toggle__button {
    left: calc(100% - 21px);
    right: rem(3);
  }
}
